@import url('boilerplate.css');

.triangle--small {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out ;
}
.triangle--big {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out ;
}
.triangle--style {
    background-color: var(--green);
    transform: rotate(45deg);
    opacity: 0.2;
}
/* .triangle--style:hover {
    transform: rotate(0deg);
} */
.settings-icon {
    position: fixed;
    float: left;
    top: 40%;
    width: 40px;
    height: 35px;
    background-color: white;
    padding-top: 8px;
    border-radius: 0 2px 2px 0;
}
.settings-icon svg {
    width: 20px;
    height: 20px;
    fill: var(--light-green);
}
.settings-icon:hover svg {
    fill: var(--green);
}
